Farama-Notifications==0.0.4
GitPython==3.1.46
ImageIO==2.37.2
Markdown==3.10.2
PyYAML==6.0.3
Werkzeug==3.1.6
charset-normalizer==3.4.4
ipython_pygments_lexers==1.1.1
jupyter_client==8.8.0
jupyter_core==5.9.1
kaggle==2.0.0
lazy_loader==0.4
pip-chill==1.0.5
pydantic_core==2.41.5
rsatoolbox==0.3.2
stable_baselines3==2.7.1
stack-data==0.6.3
wandb==0.25.1
